<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BookList</title>
</head>
<body>
<h1>Welcome!</h1><img th:src="@{/images/welcome.png}"/>
<form method="POST" th:action="@{/insert}" th:object="${book}">
    <div><label for="title">Titolo:</label> <input type="text" id="title" th:field="${book.title}" placeholder="Inserisci il titolo" required/></div>
    <div><label for="author">Autore:</label> <input type="text" id="author" th:field="${book.author}" placeholder="Inserisci l'autore" required/></div>
    <div>
        <button type="submit">Salva Libro</button>
    </div>
</form>
</body>
</html>