<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head><title>Customer salvato</title></head>
<body><h1>Il customer è stato aggiunto ai customers</h1></body>

<table>
    <thead>
    <tr>
        <th>
            ID
        </th>

        <th>
            Name
        </th>

        <th>
            Surname
        </th>

        <th>
            Age
        </th>
    </tr>
    </thead>

    <tbody>

    <tr th:each="customer : ${customers}">

        <td th:text="${customer.id}"></td>
        <td th:text="${customer.name}"></td>
        <td th:text="${customer.surname}"></td>
        <td th:text="${customer.gender}"></td>

    </tr>

    </tbody>
</table>

<form th:action="@{/backHome}" method="POST">
    <button type="submit">Torna all'insert</button>
</form>

</html>