<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<form method="POST" th:action="@{/customers/insert}" th:object="${customer}">
    <!--<div> <label for="id">ID:</label>
        <input type="text" id="id" th:field="${customer.id}" placeholder="Inserisci il tuo id" required/>
        <span class="validationError" th:if="${#fields.hasErrors('id')}" th:errors="${customer.id}">Name Error</span>
    </div>-->
    <div> <label for="name">Nome:</label>
        <input type="text" id="name" th:field="${customer.name}" placeholder="Inserisci il tuo nome" required/>
        <span class="validationError" th:if="${#fields.hasErrors('name')}" th:errors="${customer.name}">Name Error</span>
    </div>

    <div> <label for="surname">Cognome:</label>
        <input type="text" id="surname" th:field="${customer.surname}" placeholder="Inserisci il tuo cognome" required/>
        <span class="validationError" th:if="${#fields.hasErrors('surname')}" th:errors="${customer.surname}">Name Error</span>
    </div>

    <div> <label for="gender">gender:</label>
        <input type="text" id="gender" th:field="${customer.gender}" placeholder="Inserisci il tuo gender" required/>
        <span class="validationError" th:if="${#fields.hasErrors('gender')}" th:errors="${customer.gender}">Name Error</span>
    </div>

    <div> <label for="age">age:</label>
        <input type="text" id="age" th:field="${customer.age}" placeholder="Inserisci il tuo gender" required/>
        <span class="validationError" th:if="${#fields.hasErrors('age')}" th:errors="${customer.age}">Name Error</span>
    </div>
    <div>
        <button type="submit">Salva</button>

    </div>

</form>
</body>
</html>