<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Gamelist</h1>

<form method="POST" th:action="@{/games/list/add}" th:object="${game}">
  <div><label for="id">ID:</label> <input type="number" id="id" th:field="${game.id}" placeholder="ID" required/></div>
  <div><label for="name">Nome:</label> <input type="text" id="name" th:field="${game.title}" placeholder="nome" required/></div>
  <div><label for="type">Tipo:</label> <input type="text" id="type" th:field="${game.type}" placeholder="tipo" required/></div>
  <div><label for="price">Costo:</label> <input type="number" id="price" th:field="${game.price}" placeholder="price" required/></div>
  <div>
    <button type="submit">Salva gioco</button>
  </div>
</form>

</body>
</html>