<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="POST" th:action="@{/user/insert}" th:object="${user}">
    <div><label for="id">ID:</label> <input type="number" id="id" th:field="${user.id}" placeholder="Inserisci ID"/></div>
    <div><label for="name">Nome:</label> <input type="text" id="name" th:field="${user.name}" placeholder="Inserisci il nome" required/></div>
    <div><label for="surname">Cognome:</label> <input type="text" id="surname" th:field="${user.surname}" placeholder="Inserisci cognome" required/></div>

    <div>
        <button type="submit">Salva user</button>
    </div>
</form>

<table>
    <thead>
    <tr>
        <th>
            ID
        </th>

        <th>
            Nome
        </th>

        <th>
            Cognome
        </th>
    </tr>
    </thead>

    <tbody>

    <tr th:each="user : ${users.values()}">

        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.surname}"></td>

    </tr>

    </tbody>
</table>

</body>
</html>